.Toolbar{
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgb(153, 98, 68);
    justify-content: space-between;
    padding: 5px 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav{
    height: 100%;

}

@media(max-width: 499px){
    .Toolbar nav{
        display: none;
    }
}
