.MenuButton{
    background-color: rgb(226, 147, 44);
    border-radius: 5px;
    width: 50px;
    font-size: 20px;
    border:none;
}

@media(min-width: 499px){
    .MenuButton{
        display: none;
    }
}
