@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;

}
body{
  background-color: rgb(172, 84, 84);
  color: aliceblue;

  display: flex;
  justify-content: center;
  align-items: center;

}
.container{
  background-color: rgb(141, 42, 42);
  width: 300px;
  height: 370px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#Password{
  font-size: 18px;
  padding-right: 35px;
  background-color: rgb(199, 95, 95);
  height: 40px;
  margin: 40px 20px 0px 20px;
  width: 260px;
  border-style: none;

}
#checkboxes{
  width: inherit;
}
#checkboxes ul {
  padding: 0;
  list-style: none;
}
#checkboxes li {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
}
#checkboxes input{
  float: right;
}
#checkboxes input[type=text]{
  padding: 0;
  height: inherit;
  margin: 0;
  padding-right: 5px;
  width: 50px;
}
input[type=checkbox]{
  transform: scale(1.5); /* Safari and Chrome */

}
.resultCon #copyBut{
  position: relative;
  top: -35px;
  right: -245px;
  height: 30px;
  width: 30px;
}
.generateButt{
  font-size: 18px;
  width: 260px;
  margin: 0 20px 0px 20px;
  height: 40px;

  background-color: lightcoral;
  border-style: none;
}

@keyframes fadeInFromNone {
  0% {
      opacity: 1;
      visibility: visible;
  }
  50%{
    opacity: 1;
    visibility: visible;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}
.copied{
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.856);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  visibility: hidden;
}
.copied a{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  
}
.copied #smaller{
  transform: translate(-50%, 200%);
  font-size: 20px;
}

.copied[Animation="1"]{
  animation: fadeInFromNone 1s ease-out;
}


